/*BEGIN - REMOVE WHEN YOU START YOUR PROJECT*/
html {
  height: 100%;
}

body {
  align-items: center;
  background-color: rgb(249,	243,	233);
  color: rgb(47,	76, 52);
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  margin: 0;
  text-align: center;
}
/*END - REMOVE WHEN YOU START YOUR PROJECT*/
