html {
  height: 100%;
}

body {
  align-items: center;
  background-color: rgb(249,	243,	233);
  color: rgb(47,	76, 52);
  display: flex;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  text-align: center;
}

.registry {
  font-size: 2rem;
}
