{% import "layouts/triangles.svg" as triangles %}
{% extends "layouts/default.html" %}
{% set light = item.backgroundColor.triangleColorLight.hex %}
{% set medium = item.backgroundColor.triangleColorMedium.hex %}
{% set dark = item.backgroundColor.triangleColorDark.hex %}
{% set svg = triangles.svg(dark, medium, light) | urlencode | replace("%0A", "") %}
{% block content %}
<style>
  .event .bottom {
    background-color: {{ item.bkgrdColor.hex }};
  }
  .triangles {
    background-size: 10rem;
    background-image: url("data:image/svg+xml;utf8,{{ svg.split('&')[0].split('=')[1]  }}");
  }
</style>
<div class="event triangles">
  <div class="top">
    <div class="frame">
        <img src="{{ item.image | image({w: 800}) }}" alt="{{ item.title }}"/>
    </div>
  </div>
  <div class="bottom">
    <div>
    {{ item.descriptionHtml | safe }}
    </div>
    {{ item.embedCode | safe }}
  </div>
</div>
{% endblock %}
